//MobileFilter

.mobile-filter {
  display: none;
  position: relative;
  width: 343px;
  height: 49px;

  .with-border {
    @include mobileFiltersBtn();
  }

  .no-border {
    width: 50%;
    background-color: $light-color;
    border: 1px solid $grey-200;
    text-align: center;
    font-size: 150%;
    color: $grey-200;
    border-left: none;
  }

  @include responsive(tablet) {
    margin-top: 12px;
    display: flex;
  }
  @include responsive(mobile) {
    margin-top: 12px;
    display: flex;
  }
}
