@import "./ColorFilter/_color-filter";
@import "./PriceFilter/_price-filter";
@import "./SizeFilter/_size-filter";

//Aside Component
.aside-filters-component {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-left: 3px;
  max-width: 157px;
  min-width: 157px;

  @include responsive(tablet) {
    display: none;
  }
  @include responsive(mobile) {
    display: none;
  }
}
