//ASIDE COMPONENT
.aside-filters-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 157px;
  height: 648px;
}

//COLOR COMPONENT
.color-filter {
  padding-left: 3px;
  height: 286px;
  h1 {
    line-height: 22px;
    color: $title-color;
    margin-bottom: 10px;
  }
}
.checkbox-colors {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    height: 16px;
    font-size: 87.5%;
    width: 100%;
    label {
      padding-left: 5px;
    }
  }
}

//SIZE COMPONENT
.size-filter {
  height: 158px;
  h1 {
    line-height: 22px;
    color: $title-color;
    margin-bottom: 10px;
  }
}
.size-selection-container {
  width: 153px;
  display: grid;
  grid-template-columns: 32px 32px 32px 32px;
  grid-gap: 8px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey-100;
    border: 1px solid $grey-100;
    width: 32px;
    height: 32px;
  }
}
