@import "./ColorFilter/_colorfilter.scss";
@import "./PriceFilter/_pricefilter.scss";
@import "./SizeFilter/_sizefilter.scss";

//ASIDE COMPONENT
.aside-filters-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 157px;
  height: 648px;
}

//SIZE COMPONENT

//PRICE COMPONENT
