@import "./ColorFilter/_colorfilter.scss";
@import "./PriceFilter/_pricefilter.scss";
@import "./SizeFilter/_sizefilter.scss";

//ASIDE COMPONENT
.aside-filters-component {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-left: 3px;
  width: 157px;
}

//SIZE COMPONENT

//PRICE COMPONENT
