.price-filter {
  h1 {
    @include filtersTitle(10px);
  }
}
.checkbox-prices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.price-input-options {
  display: flex;
  align-items: center;
  font-size: 87.5%;
  width: 100%;
  margin: 4px 0 4px 0;

  label {
    padding-left: 5px;
  }
}
