.size-filter {
  margin-bottom: 24px;
  h1 {
    @include filtersTitle(24px);
  }
}
.size-selection-container {
  width: 153px;
  display: grid;
  margin-left: 3px;
  grid-template-columns: 32px 32px 32px 32px;
  grid-gap: 8px;
}

.size-option {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-100;
  border: 1px solid $dark-100;
  width: 30px;
  height: 30px;
}

.size-option-checked {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-200;
  border: 1px solid $primary-color;
  font-weight: 400;
  max-width: 30px;
  max-height: 30px;
}
