.products-section {
  display: flex;
  flex-direction: column;
}
.products-container {
  display: grid;
  min-width: 976px;
  align-items: center;
  justify-content: center;
  place-items: center;
  grid-template-columns: 195.25px 195.25px 195.25px;
  column-gap: 64px;
  row-gap: 40px;
  margin-left: 45px;
}

.load-btn-wrapper {
  margin: 73px 0 35px 0;
  width: 100%;
}

.load-products-btn {
  border: none;
  margin-left: 40%;
  color: $light-color;
  background-color: $primary-color;
  font-size: 87.5%;
  width: 175px;
  height: 31px;
  &:hover {
    cursor: pointer;
  }
}

.span-limit {
  width: 100%;
  margin-left: 40%;
  color: $grey-100;
}
