//TopSection Component
.top-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  width: 100%;
  h1 {
    margin-top: 40px; //0px 0px 162px;
    color: $title-color;
    width: 97px;
    height: 44px;
    font-size: 200%;
  }

  @include responsive(tablet) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @include responsive(mobile) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

//CustomDropdown Component

.dropdown-container {
  margin-top: 53px;
  position: relative;

  @include responsive(tablet) {
    display: none;
  }
  @include responsive(mobile) {
    display: none;
  }

  .default-button {
    &:hover {
      cursor: pointer;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $dark-100;
    width: 142px;
    height: 42px;
    line-height: 22px;
    background-color: $light-color;
    font-size: 100%;
    font-weight: 400;
    color: $dark-200;
    padding-left: 10px;

    span {
      margin-left: 10px;
    }
  }
}

.custom-dropdown {
  position: absolute;
  z-index: 10;
  width: 140px;
  height: 107px;
  height: fit-content;
  border: 1px solid $dark-100;
}

.organize-options-btn {
  border: none;
  background-color: $light-color;
  padding-left: 9px;
  width: 140px;
  height: 36px;
  line-height: 22px;
  font-size: 100%;
  font-weight: 400;
  text-align: left;

  &:hover {
    cursor: pointer;
    color: $light-color;
    background-color: $primary-color;
  }
}

// //MobileFilter

// .mobile-filter {
//   display: none;
//   position: relative;
//   width: 343px;
//   height: 49px;

//   button {
//     width: 50%;
//     background-color: $light-color;
//     border: 1px solid $grey-200;
//     text-align: center;
//     font-size: 150%;
//     color: $grey-200;
//   }

//   .no-border {
//     border-left: none;
//   }

//   .organize-drawer-btn {
//     border: none;
//     margin: 15px 0 15px 0;
//     color: $dark-200;
//     line-height: 30px;
//     font-size: 137.5%;
//     width: 100%;
//     text-align: start;
//     padding-left: 16px;
//   }

//   @include responsive(tablet) {
//     margin-top: 12px;
//     display: flex;
//   }
//   @include responsive(mobile) {
//     margin-top: 12px;
//     display: flex;
//   }
// }

.dropdown-backdrop {
  position: fixed;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0;
  background-color: transparent;
  z-index: 5;

  @include responsive(mobile) {
    display: none;
  }
  @include responsive(tablet) {
    display: none;
  }
}
