@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
//Colors
$primary-color: #00c0ee;
$title-color: #333333;
$dark-color: #000000;
$light-color: #fff;
$grey-100: rgb(0, 0, 0, 0.5);
$grey-200: #666666;

//Fonts
$font-family-open-sans: "Open Sans", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
