@import "reset";
@import "./variables";
@import "../components/Header/header.scss";
@import "../components/TopSection/topsection.scss";
@import "../components/AsideFilters/filters.scss";
@import "../components/ProductCard/product.scss";
@import "../components/Footer/footer.scss";
@import "../components/Productsection/productsection.scss";
@import "../components/TopSection/Mobile/mobile.scss";
@import "../components/Header//CartList/cart";
@import "./mixins";
body {
  font-family: $font-family-open-sans;
}

.main-style {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  margin: 0 162px 0 165px;

  @include responsive(desktop) {
    margin: 0 92px 0 95px;
  }
  @include responsive(tablet) {
    margin: 0 37px 0 39px;
  }
  @include responsive(mobile) {
    margin: 0 17px 0 17px;
  }
}

.main-section {
  display: flex;

  width: 100%;

  margin: 50px auto 0px auto;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid $grey-100;
  padding: 2px;
  background-clip: content-box;
}

input[type="checkbox"]:checked {
  background-color: $primary-color;
}
